@inherits LayoutComponentBase

<NavBar />

<main class="container-page py-10">
    @Body
</main>

<Footer />

<div id="blazor-error-ui" data-nosnippet>
    حدث خطأ غير متوقّع.
    <a href="." class="reload">إعادة تحميل</a>
    <span class="dismiss">🗙</span>
</div>
